%h1
  =@article.title

%p Tags:
-@article.tags.each do |tag|
  =link_to(tag.name, tag_path(tag))

%p
  =@article.body

=render partial: 'comments/form'

%p 
  =link_to("Back to Articles List", articles_path)

%p
  =link_to("Change me, Rearrange me?", edit_article_path(@article))
%br
%p
  =link_to("kill me softly", article_path(@article), method: :delete, data: {confirm: "Seriously? Choose wisely."})

%br
%h3 Oh Shit. Comments. Raise Boom.
%span 
=@article.comments.size
=render partial: 'articles/comment', collection: @article.comments

