%h1
  =@article.title

%p
  =@article.body

=render partial: 'comments/form'

%p 
  =link_to("Back to Articles List", articles_path)

%p
  =link_to("Change me, Rearrange me?", edit_article_path(@article))
%br
%p
  =link_to("kill me softly", article_path(@article), method: :delete, data: {confirm: "Seriously? Choose wisely."})

%br
%h3 Oh Shit. Comments. Raise Boom.
=render partial: 'articles/comment', collection: @article.comments

